<!-- start: Header -->
<div id="navigation" class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand brand-header" href="/">
        <%= image_tag "main_logo-large.png" %>
      </a>
    </div>


    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Locations <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Capitol Hill", caphill_path %></li>
            <li><%= link_to "Redmond", redmond_path %></li>
          </ul>
        </li>
        <li><%= link_to "Bakery", bakery_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Food <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Capitol Hill", cap_food_path %></li>
            <li><%= link_to "Redmond", redmond_food_path %></li>
          </ul>
        </li>
        <li><%= link_to "Drinks", drinks_path %></li>
        <li><%= link_to mooncakes_path do %>
          Mooncakes<span class="" style="color: #dd3333; font-size: 0.7em;"> (new)</span>
          <% end %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

