<!DOCTYPE html>
<html>
<head>
  <title>Regent Bakery and Cafe</title>


  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<!--   <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
  <meta name="msapplication-TileColor" content="#E7E7E7">
  <meta name="msapplication-TileImage" content="favicon-144.png">
 -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARlpBSMuZsh8ukiR9D8m7-efco9efDnCU">
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93146308-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

  <div id='content'>
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="col-footer">
            <div class="footer-panel">
              <table class="footer-info">
                <tbody>
                  <tr>
                    <td><div class="footer-title">Issaquah</div></td>
                  </tr>
                  <tr>
                    <td>
                      <div>
                        <address>
                          1802 12th Ave NW, Suite B <br>
                          Issaquah, WA 98027 <br>
                          <a href="tel:425-657-0281" class="phone">(425) 657-0281</a>
                        </address>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="footer-panel">
              <table class="footer-info">
                <tbody>
                  <tr>
                    <td><div class="footer-title">Factoria</div></td>
                  </tr>
                  <tr>
                    <td>
                      <div>
                        <address>
                          12816 SE 38th St Ste F <br>
                          Bellevue, WA 98006 <br>
                          <a href="tel:425-747-0079" class="phone">(425) 747-0079</a>
                        </address>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="footer-panel">
              <table class="footer-info">
                <tbody>
                  <tr>
                    <td><div class="footer-title">Bellevue</div></td>
                  </tr>
                  <tr>
                    <td>
                      <div>
                        <address>
                          677 120th Ave NE #9a <br>
                          Bellevue, WA 98005 <br>
                          <a href="tel:425-378-1498" class="phone">(425)378-1498</a>
                        </address>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-footer">
<!--
          <div class="footer-panel">
            <%= link_to "Facebook", "https://www.facebook.com/regentbakery", target: "_blank", class: "ss-link" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
          </div>
          <div class="footer-panel">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= mail_to "capitolhill@regentbakeryandcafe.com", "Email", class: "ss-link" %>
          </div>
          <br>
-->
          <div class="copyright">
            Copyright &copy; <%= Time.now.year %> Regent Bakery and Cafe 
          </div>
        </div> 
      </div>
    </div>
  </footer>



<div class="device-xs visible-xs"></div>
<div class="device-sm visible-sm"></div>
<div class="device-md visible-md"></div>
<div class="device-lg visible-lg"></div>
</body>
</html>
