<!DOCTYPE html>
<html>
<head>
  <title>Regent Bakery and Cafe</title>


  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<!--   <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
  <meta name="msapplication-TileColor" content="#E7E7E7">
  <meta name="msapplication-TileImage" content="favicon-144.png">
 -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARlpBSMuZsh8ukiR9D8m7-efco9efDnCU">
  </script>


</head>
<body>

  <div id='content'>
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-footer">
          <div class="footer-left-panel">
            <table class="footer-info">
              <tbody>
                <tr>
                  <td><div class="footer-title">Capital Hill</div></td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <address>
                        1404 E. Pine St <br>
                        Seattle, WA 98122 <br>
                        <a href="tel:206-743-8866" class="phone">(206) 743-8866</a>
                      </address>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="footer-right-panel">
            <table class="footer-info">
              <tbody>
                <tr>
                  <td><div class="footer-title">Redmond</div></td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <address>
                        15159 NE 24th St <br>
                        Redmond, WA 98052 <br>
                        <a href="tel:425-378-1498" class="phone">(425) 378-1498</a>
                      </address>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-footer">
          <div class="footer-left-panel">
            <%= link_to "Facebook", "https://www.facebook.com/regentbakery", target: "_blank", class: "ss-link" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
          </div>
          <div class="footer-right-panel">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= mail_to "capitolhill@regentbakeryandcafe.com", "Email", class: "ss-link" %>
          </div>
          <br>
          <div class="copyright">
            Copyright &copy; <%= Time.now.year %> Regent Bakery and Cafe 
          </div>
        </div> 
      </div>
    </div>
  </footer>



<div class="device-xs visible-xs"></div>
<div class="device-sm visible-sm"></div>
<div class="device-md visible-md"></div>
<div class="device-lg visible-lg"></div>
</body>
</html>
