<!DOCTYPE html>
<html>
<head>
  <title>Regent Bakery and Cafe</title>


  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<!--   <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
  <meta name="msapplication-TileColor" content="#E7E7E7">
  <meta name="msapplication-TileImage" content="favicon-144.png">
 -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARlpBSMuZsh8ukiR9D8m7-efco9efDnCU">
  </script>


</head>
<body>

  <div id='content'>
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>

  <footer>
  </footer>




</body>
</html>
